@font-face {
  font-family: 'pt_sans_regular';
  src: url("../font/PT_Sans-Web-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pt_sans_italic';
  src: url("../font/PT_Sans-Web-Italic.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pt_sans_bold_italic';
  src: url("../font/PT_Sans-Web-BoldItalic.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'pt_sans_bold';
  src: url("../font/PT_Sans-Web-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'droid_sans';
  src: url("../font/DroidSans.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'droid_sans_bold';
  src: url("../font/DroidSans-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'socialicoregular';
  src: url("../font/socialico-webfont.eot");
  src: url("../font/socialico-webfont.eot?#iefix") format("embedded-opentype"), url("../font/socialico-webfont.woff") format("woff"), url("../font/socialico-webfont.ttf") format("truetype"), url("../font/socialico-webfont.svg#socialicoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 90, ../sass/style.css.scss */
body {
  font: 100% "droid_sans", Helvetica, Arial, sans-serif;
  font-size: 12pt;
  color: #1e1f20;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
  width: 100% !important;
  line-height: 24px;
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  zoom: 1;
  overflow-x: hidden !important;
}

/* line 106, ../sass/style.css.scss */
html {
  width: auto !important;
  overflow-x: hidden !important;
}

/* line 115, ../sass/style.css.scss */
.social-font-name {
  font-family: "socialicoregular";
}

/* line 118, ../sass/style.css.scss */
.large-font-name {
  font-family: "pt_sans_regular", Helvetica, Arial, sans-serif;
}

/* line 121, ../sass/style.css.scss */
.bold-font-name {
  font-family: "droid_sans_bold", Helvetica, Arial, sans-serif !important;
}

/* line 124, ../sass/style.css.scss */
.paragraph-font-name {
  font-family: "droid_sans", Helvetica, Arial, sans-serif;
}

/* line 128, ../sass/style.css.scss */
.primary-text-color {
  color: #1e1f20 !important;
}
/* line 130, ../sass/style.css.scss */
.primary-text-color p {
  color: #1e1f20 !important;
}

/* line 135, ../sass/style.css.scss */
.gray-text-color {
  color: #999999 !important;
}
/* line 137, ../sass/style.css.scss */
.gray-text-color p {
  color: #999999 !important;
}

/* line 142, ../sass/style.css.scss */
.secondary-text-color {
  color: #19a885 !important;
}
/* line 144, ../sass/style.css.scss */
.secondary-text-color p {
  color: #19a885 !important;
}

/* line 149, ../sass/style.css.scss */
.white-text-color {
  color: #ffffff !important;
}
/* line 151, ../sass/style.css.scss */
.white-text-color p {
  color: #ffffff !important;
}

/* line 158, ../sass/style.css.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

/* line 161, ../sass/style.css.scss */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  margin-bottom: 24px;
  color: #1e1f20;
}

/* line 167, ../sass/style.css.scss */
h1 {
  font-family: "pt_sans_regular", Helvetica, Arial, sans-serif;
}

/* line 170, ../sass/style.css.scss */
h2 {
  font-family: "pt_sans_regular", Helvetica, Arial, sans-serif;
}

/* line 173, ../sass/style.css.scss */
h3 {
  font-family: "pt_sans_regular", Helvetica, Arial, sans-serif;
}

/* line 176, ../sass/style.css.scss */
h4 {
  font-family: "pt_sans_regular", Helvetica, Arial, sans-serif;
}

/* line 179, ../sass/style.css.scss */
h5 {
  font-family: "pt_sans_regular", Helvetica, Arial, sans-serif;
}

/* line 182, ../sass/style.css.scss */
h6 {
  font-family: "pt_sans_regular", Helvetica, Arial, sans-serif;
}

/* line 185, ../sass/style.css.scss */
p {
  font-family: "droid_sans", Helvetica, Arial, sans-serif;
  color: #666;
}

/* line 190, ../sass/style.css.scss */
p {
  font-size: 1em;
  line-height: 24px;
}

/* line 191, ../sass/style.css.scss */
h1 {
  font-size: 2.5em;
  line-height: 48px;
}

/* line 192, ../sass/style.css.scss */
h2 {
  font-size: 1.375em;
  line-height: 36px;
}

/* line 193, ../sass/style.css.scss */
h3 {
  color: #999999;
  line-height: 48px;
}

/* line 197, ../sass/style.css.scss */
h4 {
  font-size: 1.4em;
  line-height: 24px;
}

/* line 198, ../sass/style.css.scss */
h5 {
  font-size: 1.375em;
  line-height: 30px;
}

/* line 199, ../sass/style.css.scss */
h6 {
  font-size: 0.9em;
  line-height: 24px;
}

/* line 201, ../sass/style.css.scss */
.truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* line 207, ../sass/style.css.scss */
.section-header {
  border-bottom: 1px solid #999999;
  margin-bottom: 24px;
  padding-bottom: 6px;
  text-transform: uppercase;
}

/* line 217, ../sass/style.css.scss */
.text-columns-2 {
  -webkit-columns: 24px 2;
  -moz-columns: 24px 2;
  columns: 24px 2;
}

/* line 220, ../sass/style.css.scss */
.text-columns-3 {
  -webkit-columns: 24px 3;
  -moz-columns: 24px 3;
  columns: 24px 3;
}

/* line 223, ../sass/style.css.scss */
.text-columns-4 {
  -webkit-columns: 24px 4;
  -moz-columns: 24px 4;
  columns: 24px 4;
}

/* line 227, ../sass/style.css.scss */
.text-uppercase {
  text-transform: uppercase;
}

/* line 234, ../sass/style.css.scss */
.bold-font-name {
  font-family: "droid_sans_bold", Helvetica, Arial, sans-serif;
}

/* line 237, ../sass/style.css.scss */
.paragraph-font-name {
  font-family: "droid_sans", Helvetica, Arial, sans-serif;
}

/* line 243, ../sass/style.css.scss */
small {
  line-height: 2px;
}

/* line 247, ../sass/style.css.scss */
hr {
  border-color: #999999;
}

/* line 253, ../sass/style.css.scss */
.relative {
  position: relative;
}

/* line 257, ../sass/style.css.scss */
.hidden {
  display: none;
}

/* line 261, ../sass/style.css.scss */
.base-line-height {
  line-height: 24px;
}

/* line 265, ../sass/style.css.scss */
.left {
  float: left;
}

/* line 268, ../sass/style.css.scss */
.right {
  float: right;
}

/* line 272, ../sass/style.css.scss */
.full-width {
  width: 100% !important;
}

/* line 276, ../sass/style.css.scss */
.display-block {
  display: block;
}

/* line 280, ../sass/style.css.scss */
.inline-block {
  display: inline-block;
}

/* line 284, ../sass/style.css.scss */
.inline {
  display: inline;
}

/* line 288, ../sass/style.css.scss */
ul.inline {
  list-style: none;
  margin-left: 0;
}
/* line 291, ../sass/style.css.scss */
ul.inline li {
  display: inline-block;
  padding: 0 5px;
}

/* line 296, ../sass/style.css.scss */
ul {
  color: #666;
}

/* line 302, ../sass/style.css.scss */
.border-top {
  border-top: 1px solid #f9fafb;
}

/* line 305, ../sass/style.css.scss */
.border-right {
  border-right: 1px solid #999999;
}

/* line 308, ../sass/style.css.scss */
.border-bottom {
  border-bottom: 1px solid #f9fafb;
}

/* line 311, ../sass/style.css.scss */
.border-left {
  border-left: 1px solid #999999;
}

/* line 315, ../sass/style.css.scss */
.darker-border-bottom {
  border-bottom: 2px solid #1e1f20;
}

/* line 320, ../sass/style.css.scss */
.margin-auto {
  margin: 0 auto;
}

/* line 323, ../sass/style.css.scss */
.margin {
  margin: 24px !important;
}

/* line 326, ../sass/style.css.scss */
.margin-top {
  margin-top: 24px !important;
}

/* line 329, ../sass/style.css.scss */
.margin-right {
  margin-right: 24px !important;
}

/* line 332, ../sass/style.css.scss */
.margin-bottom {
  margin-bottom: 24px !important;
}

/* line 335, ../sass/style.css.scss */
.margin-left {
  margin-left: 24px !important;
}

/* line 338, ../sass/style.css.scss */
.double-margin-top {
  margin-top: 48px !important;
}

/* line 341, ../sass/style.css.scss */
.double-margin-right {
  margin-right: 48px !important;
}

/* line 344, ../sass/style.css.scss */
.double-margin-bottom {
  margin-bottom: 48px !important;
}

/* line 347, ../sass/style.css.scss */
.double-margin-left {
  margin-left: 48px !important;
}

/* line 350, ../sass/style.css.scss */
.triple-margin-top {
  margin-top: 72px !important;
}

/* line 353, ../sass/style.css.scss */
.triple-margin-right {
  margin-right: 72px !important;
}

/* line 356, ../sass/style.css.scss */
.triple-margin-bottom {
  margin-bottom: 72px !important;
}

/* line 359, ../sass/style.css.scss */
.triple-margin-left {
  margin-left: 72px !important;
}

/* line 362, ../sass/style.css.scss */
.half-margin-top {
  margin-top: 12px !important;
}

/* line 365, ../sass/style.css.scss */
.half-margin-right {
  margin-right: 12px !important;
}

/* line 368, ../sass/style.css.scss */
.half-margin-bottom {
  margin-bottom: 12px !important;
}

/* line 371, ../sass/style.css.scss */
.half-margin-left {
  margin-left: 12px !important;
}

/* line 374, ../sass/style.css.scss */
.quarter-margin-top {
  margin-top: 6px !important;
}

/* line 377, ../sass/style.css.scss */
.quarter-margin-right {
  margin-right: 6px !important;
}

/* line 380, ../sass/style.css.scss */
.quarter-margin-bottom {
  margin-bottom: 6px !important;
}

/* line 383, ../sass/style.css.scss */
.quarter-margin-left {
  margin-left: 6px !important;
}

/* line 386, ../sass/style.css.scss */
.no-margin {
  margin: 0px !important;
}

/* line 389, ../sass/style.css.scss */
.no-margin-top {
  margin-top: 0px !important;
}

/* line 392, ../sass/style.css.scss */
.no-margin-right {
  margin-right: 0px !important;
}

/* line 395, ../sass/style.css.scss */
.no-margin-bottom {
  margin-bottom: 0px !important;
}

/* line 398, ../sass/style.css.scss */
.no-margin-left {
  margin-left: 0px !important;
}

/* line 401, ../sass/style.css.scss */
.large-margin-top {
  margin-top: 72px !important;
}

/* line 406, ../sass/style.css.scss */
.padded {
  padding: 24px !important;
}

/* line 409, ../sass/style.css.scss */
.padding-top {
  padding-top: 24px !important;
}

/* line 412, ../sass/style.css.scss */
.padding-right {
  padding-right: 24px !important;
}

/* line 415, ../sass/style.css.scss */
.padding-bottom {
  padding-bottom: 24px !important;
}

/* line 418, ../sass/style.css.scss */
.padding-left {
  padding-left: 24px !important;
}

/* line 421, ../sass/style.css.scss */
.double-padded {
  padding: 48px !important;
}

/* line 424, ../sass/style.css.scss */
.double-padding-top {
  padding-top: 48px !important;
}

/* line 427, ../sass/style.css.scss */
.double-padding-right {
  padding-right: 48px !important;
}

/* line 430, ../sass/style.css.scss */
.double-padding-bottom {
  padding-bottom: 48px !important;
}

/* line 433, ../sass/style.css.scss */
.double-padding-left {
  padding-left: 48px !important;
}

/* line 436, ../sass/style.css.scss */
.triple-padding-top {
  padding-top: 72px !important;
}

/* line 439, ../sass/style.css.scss */
.triple-padding-right {
  padding-right: 72px !important;
}

/* line 442, ../sass/style.css.scss */
.triple-padding-bottom {
  padding-bottom: 72px !important;
}

/* line 445, ../sass/style.css.scss */
.triple-padding-left {
  padding-left: 72px !important;
}

/* line 448, ../sass/style.css.scss */
.no-padding {
  padding: 0px !important;
}

/* line 451, ../sass/style.css.scss */
.no-padding-top {
  padding-top: 0px !important;
}

/* line 454, ../sass/style.css.scss */
.no-padding-right {
  padding-right: 0px !important;
}

/* line 457, ../sass/style.css.scss */
.no-padding-bottom {
  padding-bottom: 0px !important;
}

/* line 460, ../sass/style.css.scss */
.no-padding-left {
  padding-left: 0px !important;
}

/* line 463, ../sass/style.css.scss */
.half-padding {
  padding: 12px !important;
}

/* line 466, ../sass/style.css.scss */
.half-padding-top {
  padding-top: 12px !important;
}

/* line 469, ../sass/style.css.scss */
.half-padding-right {
  padding-right: 12px !important;
}

/* line 472, ../sass/style.css.scss */
.half-padding-bottom {
  padding-bottom: 12px !important;
}

/* line 475, ../sass/style.css.scss */
.half-padding-left {
  padding-left: 12px !important;
}

/* line 478, ../sass/style.css.scss */
.quarter-padding {
  padding: 6px !important;
}

/* line 481, ../sass/style.css.scss */
.quarter-padding-top {
  padding-top: 6px !important;
}

/* line 484, ../sass/style.css.scss */
.quarter-padding-right {
  padding-right: 6px !important;
}

/* line 487, ../sass/style.css.scss */
.quarter-padding-bottom {
  padding-bottom: 6px !important;
}

/* line 490, ../sass/style.css.scss */
.quarter-padding-left {
  padding-left: 6px !important;
}

/* line 496, ../sass/style.css.scss */
.thumb-md {
  max-width: 200px;
}

/* line 500, ../sass/style.css.scss */
.thumb-sm {
  max-width: 70px;
}

/* line 507, ../sass/style.css.scss */
a {
  color: #1e1f20;
}
/* line 509, ../sass/style.css.scss */
a:hover {
  text-decoration: none;
}
/* line 512, ../sass/style.css.scss */
a.disabled {
  cursor: not-allowed;
  opacity: .5;
}

/* line 521, ../sass/style.css.scss */
.btn {
  text-decoration: none;
  font-family: "droid_sans_bold", Helvetica, Arial, sans-serif;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  font-size: 1em;
  color: white !important;
  padding: 12px 24px;
}
/* line 528, ../sass/style.css.scss */
.btn.btn-primary {
  background-color: white;
  border-color: #1b1c1d !important;
}
/* line 531, ../sass/style.css.scss */
.btn.btn-primary:hover {
  background-color: #47b99d !important;
}
/* line 535, ../sass/style.css.scss */
.btn.btn-gray {
  background-color: #8a8a8a;
  border-color: #7a7a7a !important;
}
/* line 538, ../sass/style.css.scss */
.btn.btn-gray:hover {
  background-color: #cccccc !important;
}
/* line 542, ../sass/style.css.scss */
.btn.btn-default {
  background-color: #19a885;
  border-color: #18a07e !important;
}
/* line 545, ../sass/style.css.scss */
.btn.btn-default i {
  opacity: .7;
}
/* line 548, ../sass/style.css.scss */
.btn.btn-default:hover {
  background-color: #158f71 !important;
}
/* line 550, ../sass/style.css.scss */
.btn.btn-default:hover i {
  opacity: 1;
}
/* line 555, ../sass/style.css.scss */
.btn.btn-wire {
  color: white !important;
  border: 2px solid white !important;
  background-color: transparent !important;
}
/* line 559, ../sass/style.css.scss */
.btn.btn-wire:hover {
  border-color: white !important;
}
/* line 563, ../sass/style.css.scss */
.btn.btn-wire-green {
  color: #19a885 !important;
  border: 2px solid #19a885 !important;
  border-radius: 2px !important;
  background-color: transparent !important;
}
/* line 568, ../sass/style.css.scss */
.btn.btn-wire-green:hover {
  border-color: #19a885 !important;
  background-color: transparent !important;
}

/* line 575, ../sass/style.css.scss */
button a {
  color: white;
}

/* line 579, ../sass/style.css.scss */
button a:hover {
  color: white;
  text-decoration: none;
}

/* line 584, ../sass/style.css.scss */
button a:visited {
  color: white;
  text-decoration: none;
}

/* line 589, ../sass/style.css.scss */
button a:active {
  color: white;
  text-decoration: none;
}

/* line 594, ../sass/style.css.scss */
#hiw-video .fa-play-circle {
  font-size: 75px;
  color: rgba(255, 255, 255, 0.7) !important;
}

/* line 599, ../sass/style.css.scss */
#hiw-video a:hover .fa-play-circle {
  font-size: 75px;
  color: #ffffff !important;
}

/* line 606, ../sass/style.css.scss */
section {
  padding: 24px 0;
}

/* line 613, ../sass/style.css.scss */
.panel.secondary-panel {
  background-color: #0c0c0d;
}
/* line 616, ../sass/style.css.scss */
.panel.secondary-panel .panel-body h1, .panel.secondary-panel .panel-body h2, .panel.secondary-panel .panel-body h3, .panel.secondary-panel .panel-body h4, .panel.secondary-panel .panel-body h5, .panel.secondary-panel .panel-body h6, .panel.secondary-panel .panel-body p {
  color: white;
}

/* line 623, ../sass/style.css.scss */
.panel-plan {
  background-color: #ffffff;
  border: 1px solid #e8e9e9;
  border-radius: 4px;
}

/* line 629, ../sass/style.css.scss */
.panel-plan-highlight {
  background-color: #ffffff;
  border: 2px solid #19a885;
  border-top: none;
  padding-bottom: 48px;
}

/* line 636, ../sass/style.css.scss */
.plan-header {
  background-color: #e8e9e9;
  border: 2px solid #e8e9e9;
  border-radius: 0px;
}

/* line 642, ../sass/style.css.scss */
.plan-header-special {
  background-color: #19a885;
  border: 2px solid #19a885;
  border-radius: 0px;
}

/* line 648, ../sass/style.css.scss */
.plan-header-special h2 {
  color: #ffffff;
}

/* line 652, ../sass/style.css.scss */
.plan-price {
  font-family: "pt_sans_regular", Helvetica, Arial, sans-serif;
  font-size: 2.5em;
  line-height: 48px;
  margin-top: 24px;
  margin-bottom: 24px;
}

/* line 659, ../sass/style.css.scss */
.special {
  color: #19a885;
  font-family: "droid_sans_bold", Helvetica, Arial, sans-serif;
}

/* line 664, ../sass/style.css.scss */
.shaded-background {
  background-color: #f9fafb;
}

/* line 669, ../sass/style.css.scss */
.modal {
  padding-top: 150px;
}

/* line 673, ../sass/style.css.scss */
.modal-footer {
  border-top: none;
}

/* line 677, ../sass/style.css.scss */
.video-modal {
  position: relative;
  background-clip: padding-box;
  outline: none;
  height: auto;
  min-height: 300px;
}

/* line 685, ../sass/style.css.scss */
.video {
  height: auto;
  min-height: 300px;
}

/* line 693, ../sass/style.css.scss */
nav.main-nav {
  background-color: white;
  padding: 6px 0;
}
/* line 696, ../sass/style.css.scss */
nav.main-nav ul {
  margin-top: 8px;
}
/* line 698, ../sass/style.css.scss */
nav.main-nav ul li {
  font-size: 1em !important;
  margin: 0 12px;
  margin-top: 12px;
}
/* line 702, ../sass/style.css.scss */
nav.main-nav ul li .btn {
  margin-top: 0px;
}
/* line 706, ../sass/style.css.scss */
nav.main-nav ul li.active a {
  background: none !important;
  color: black !important;
}
/* line 711, ../sass/style.css.scss */
nav.main-nav ul li a {
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 716, ../sass/style.css.scss */
nav.main-nav .btn {
  padding: 12px;
}

/* line 722, ../sass/style.css.scss */
.nav-tabs > li, .nav-pills > li {
  float: none;
  display: inline-block;
  *display: inline;
  /* ie7 fix */
  zoom: 1;
  /* hasLayout ie7 trigger */
}

/* line 729, ../sass/style.css.scss */
.nav-tabs, .nav-pills {
  text-align: center;
}

/* line 733, ../sass/style.css.scss */
.nav-pills > li > a {
  border-radius: 4px;
  border: 1px solid #e8e9e9;
}

/* line 738, ../sass/style.css.scss */
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #1e1f20;
  background-color: #e8e9e9;
}

/* line 744, ../sass/style.css.scss */
.logo {
  width: 128px;
  height: 65px;
  background-image: url("../images/logo.png");
}

/* line 750, ../sass/style.css.scss */
.logo-small {
  width: 94px;
  height: 47px;
  background-image: url("../images/logo-small.png");
  repeat: none;
}

/* line 759, ../sass/style.css.scss */
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

/* line 764, ../sass/style.css.scss */
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}

/* line 774, ../sass/style.css.scss */
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

/* line 778, ../sass/style.css.scss */
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

/* line 783, ../sass/style.css.scss */
.timeline > li:after {
  clear: both;
}

/* line 786, ../sass/style.css.scss */
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

/* line 791, ../sass/style.css.scss */
.timeline > li:after {
  clear: both;
}

/* line 794, ../sass/style.css.scss */
.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

/* line 804, ../sass/style.css.scss */
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

/* line 815, ../sass/style.css.scss */
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

/* line 826, ../sass/style.css.scss */
.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

/* line 844, ../sass/style.css.scss */
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

/* line 847, ../sass/style.css.scss */
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

/* line 853, ../sass/style.css.scss */
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

/* line 859, ../sass/style.css.scss */
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

/* line 862, ../sass/style.css.scss */
.timeline-badge.success {
  background-color: #3f903f !important;
}

/* line 865, ../sass/style.css.scss */
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

/* line 868, ../sass/style.css.scss */
.timeline-badge.danger {
  background-color: #d9534f !important;
}

/* line 871, ../sass/style.css.scss */
.timeline-badge.info {
  background-color: #5bc0de !important;
}

/* line 874, ../sass/style.css.scss */
.timeline-title {
  margin-top: 0;
  color: inherit;
}

/* line 878, ../sass/style.css.scss */
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

/* line 882, ../sass/style.css.scss */
.timeline-body > p + p {
  margin-top: 5px;
}

/* line 888, ../sass/style.css.scss */
section {
  padding: 192px 0;
}
/* line 891, ../sass/style.css.scss */
section.invert-section h1, section.invert-section h2, section.invert-section h3, section.invert-section h4, section.invert-section h5, section.invert-section h6, section.invert-section p, section.invert-section li, section.invert-section i {
  color: white;
}
/* line 895, ../sass/style.css.scss */
section#index-hero {
  background: url("http://vinylmeplease.com/wp-content/uploads/2015/02/home-page-hero.png") no-repeat scroll center top;
  background-size: cover;
}
/* line 898, ../sass/style.css.scss */
section#index-hero h1, section#index-hero h2 {
  color: #1e1f20;
}
/* line 902, ../sass/style.css.scss */
section#about-hero {
  background: url('/images/about-hero.jpg?1441302128') no-repeat scroll center top;
  background-size: cover;
}

/* line 908, ../sass/style.css.scss */
footer ul li a {
  color: #999999;
}

/* line 912, ../sass/style.css.scss */
.bg-cover {
  background-size: 100%;
  background-size: cover;
  background-position: top center;
  vertical-align: center;
  height: 500px;
}

/* line 920, ../sass/style.css.scss */
.bg-cover-2 {
  background-size: 100%;
  background-size: cover;
  background-position: top center;
  vertical-align: center;
  height: auto;
  min-height: 450px;
}

/* line 929, ../sass/style.css.scss */
section .bg-cover-2 {
  padding: 100px;
}

/* line 933, ../sass/style.css.scss */
.bg-cover-full {
  background-size: 100%;
  background-size: cover;
  background-position: center center;
  vertical-align: center;
  background-repeat: no-repeat;
}

/* line 941, ../sass/style.css.scss */
#hiw-header {
  background-size: cover;
  height: 675px;
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url(http://vinylmeplease.com/wp-content/uploads/2015/02/hiw-header-2-1.png);
}

/* line 949, ../sass/style.css.scss */
#hiw-video {
  background-size: 100%;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  vertical-align: center;
  height: auto;
  min-height: 350px;
  background-image: url(http://vinylmeplease.com/wp-content/uploads/2015/03/video-bg.png);
}

/* line 960, ../sass/style.css.scss */
.muted {
  background-color: #e8e9e9;
}

/* line 964, ../sass/style.css.scss */
blockquote {
  font-size: 1.375em;
  line-height: 36px;
}

/* line 969, ../sass/style.css.scss */
blockquote .no-border {
  border-left: none !important;
}

/* line 973, ../sass/style.css.scss */
.invert-section blockquote {
  color: #ffffff;
}

/* line 977, ../sass/style.css.scss */
.invert-section blockquote footer {
  color: #ffffff;
}

/* line 981, ../sass/style.css.scss */
.invert-section {
  color: #ffffff;
}

/* line 985, ../sass/style.css.scss */
a {
  color: #19a885;
}

/* line 989, ../sass/style.css.scss */
a:hover {
  color: #19a885;
  text-decoration: underline;
}

/* line 994, ../sass/style.css.scss */
a.anchor {
  display: block;
  position: relative;
  top: -125px;
  visibility: hidden;
}

/* line 1001, ../sass/style.css.scss */
.panel {
  border: 1px solid #f9fafb;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
  min-height: 500px;
  border-radius: 0 !important;
}

/* line 1008, ../sass/style.css.scss */
form p .label {
  font-family: "pt_sans_regular", Helvetica, Arial, sans-serif;
  font-weight: inherit;
  font-size: 1.4em;
  line-height: 24px;
}

/* line 1015, ../sass/style.css.scss */
.wpcf7-form-control {
  font-family: "pt_sans_regular", Helvetica, Arial, sans-serif;
  font-weight: inherit;
  font-size: 1.4em;
  line-height: 24px;
}

/* line 1022, ../sass/style.css.scss */
.wpcf7-submit {
  background-color: #19a885;
  border-color: #18a07e !important;
  margin-top: 8px;
  margin-bottom: 8px;
  text-decoration: none;
  font-family: "droid_sans_bold", Helvetica, Arial, sans-serif;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  font-size: 1em;
  color: white !important;
  padding: 12px 24px;
  border: 1px solid transparent;
  border-radius: 4px;
}

/* line 1037, ../sass/style.css.scss */
.panel-secondary {
  min-height: 300px;
  border-radius: 0 !important;
  background-color: #f9fafb;
}

/* line 1043, ../sass/style.css.scss */
.navbar-nav.navbar-right:last-child {
  margin-right: 0px;
}

@media (max-width: 1199px) {
  /* line 1060, ../sass/style.css.scss */
  nav.main-nav li a {
    padding: 15px 5px;
  }
}
@media (max-width: 1100px) {
  /* line 1071, ../sass/style.css.scss */
  .navbar-header {
    float: none;
  }

  /* line 1074, ../sass/style.css.scss */
  .navbar-toggle {
    display: block;
  }

  /* line 1077, ../sass/style.css.scss */
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  /* line 1081, ../sass/style.css.scss */
  .navbar-collapse.collapse {
    display: none !important;
  }

  /* line 1084, ../sass/style.css.scss */
  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }

  /* line 1088, ../sass/style.css.scss */
  .navbar-nav > li {
    float: none;
  }

  /* line 1091, ../sass/style.css.scss */
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  /* line 1095, ../sass/style.css.scss */
  .navbar-text {
    float: none;
    margin: 15px 0;
  }

  /* since 3.1.0 */
  /* line 1100, ../sass/style.css.scss */
  .navbar-collapse.collapse.in {
    display: block !important;
  }

  /* line 1103, ../sass/style.css.scss */
  .collapsing {
    overflow: hidden !important;
  }
}
@media (max-width: 900px) {
  /* line 1111, ../sass/style.css.scss */
  #hiw-header {
    background-image: url(http://vinylmeplease.com/wp-content/uploads/2015/02/hiw-header-2.png);
    max-height: 450px;
    background-size: 100%;
    background-size: cover;
    background-position-y: 25%;
    background-repeat: no-repeat;
  }
}
